<section class="profile">
<div class="container profile-container">

  <div class="row justify-content-center">
    <div class="col-12">
      <div class="row mb-5">
        <div class="col-12 col-md-3 col-sm-12 mr-3 p-3">
          <div class="row d-flex align-content-center info p-3">
            <div class="col-12 mb-3 d-flex justify-content-center">
              <h2>Profile Page</h2>
              </div>
              <div>
                <h3>Username: {{owner.username}}</h3>
            </div>
            <div class="col-12 mb-3 d-flex justify-content-center">
              <h2>My Info</h2>
            </div>
            <div>My Name: {{owner.firstname}} {{owner.lastname}}
            </div>
            <div class="col-12 d-flex justify-content-center">
              <h4>Phone Number: {{owner.phonenumber}}</h4>
            </div>
            <div class="col-12 d-flex justify-content-center">
              <h4>Email: {{owner.email}}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container dog-container">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="row mb-5">
        <div class="col-12 col-md-3 col-sm-12 mr-3 p-3">
          <h2> Your Dog(s) </h2>
           {{#each owner.Dogs}}
          <div class="row d-flex align-content-center info p-3">
           
            <div class="col-12 mb-3 d-flex justify-content-center">

              <h3>Dog name: {{dogname}}</h2>
            </div>
            <div class="col-12 mb-3 d-flex justify-content-center">
              <h4>Dog Breed: {{dogbreed}}</h4>
            </div>
            <div class="col-12 d-flex justify-content-center">
              <h4>Dog Weight: {{dogweight}}</h4>
            </div>
            <div class="col-12 d-flex justify-content-center">
              <h4>Dog gender: {{sex}}</h4>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>
</section>

<link rel="stylesheet" href="/stylesheets/form-style.css">
<script src="../controllers/profile-routes.js"></script>
<script src="../controllers/home-routes.js"></script>
